
.ant-input-group {
      border: none!important;
      border-radius: 6px;
      margin-bottom: 10px;
}
.mg_2{
      padding-right: 10px;
      padding-left: 10px;
}
.required {
      color: red;
      padding-right: 5px;
}

.ant-btn > .plus-circle svg {
      color: #fff !important;
}

.anticon-close svg {
      color: rgba(0, 0, 0, 0.45);
      font-size: 16px;
      margin-bottom: 8px;
}