.table th,
td {
    padding: 10px;
}

.square {
    height: 20px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.bg_blue {
    background-color: #0557A2;
    border: 1px solid #0557A2;
}

.bg_orange {
    background-color: #ab0404;
    border: 1px solid #ab0404;
}

.square2 {
    height: 22px;
    width: 38px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.bg_blue2 {
    background-color: #0557A2!important;
    border: 1px solid #0557A2!important;
}
