.ant-collapse > .ant-collapse-item > .ant-collapse-header{
      padding : 10px 0;
}

.ant-collapse-content > .ant-collapse-content-box{
      padding : 0px 0 !important;
      max-height: 100% !important;
      overflow-y: hidden !important;
}

.ant-collapse-item:last-child > .ant-collapse-content{
      border-top : none;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg, .ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header{
      border: none;
}
