.ant-steps-item-process .ant-steps-item-icon{
      background: #0557a2 !important;
      border-color: #0557a2;
}

.ant-steps-item-finish .ant-steps-item-icon{
      border-color: #0557a2;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item-description{
      max-width: 200px;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
      background-color: #c4c4c4 !important;
}

.ant-steps{
      max-width: 90%;
}

.ant-steps-finish-icon{
      color: #0557a2 !important;
}