toolbar.toolbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgb(70, 111, 161);
      height: 56px;
    }
    
    .toolbar_navigator {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 1rem 4rem 1rem 2rem;
    }
    
    .toolbar_logo {
      margin-left: 1rem;
    }
    
    .toolbar_logo a {
      color: #000;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: "Libre Franklin";
      font-weight: 500;
    }
    
    .toolbar_logo a:hover {
      color: #000;
    }
    
    .toolbar_logo a img{
      width: 250px;
    }
    
    .spacer {
      flex: 1;
    }

    .toolbar_navigation-items {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    
    .toolbar_navigation-items ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    .toolbar_navigation-items li {
      padding: 2px 15px;
      margin: 0 15px;
      display: flex;
      align-items: center;
      
    }
    
    .toolbar_navigation-items a {
      font-family: Aileron-Thin;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 36px;
      color: #0557A2;
      /* identical to box height, or 150% */
      display: flex;
      align-items: center;
    }
    
    .toolbar_navigation-items a:hover,
    .toolbar_navigation-items a:active {
      color: #0557A2;
    }
    
    .toolbar_navigation-items li:last-child a:hover {
      color: #0557A2;
    }
    
    .mobile_toolbar_login {
      display: none;
    }
    
    .ant-btn-primary, .ant-btn-primary:hover{
      background-color: #0557A2;
    }
    
    .ant-btn-primary a, .ant-btn-primary a:hover{
      font-size: 18px;
      line-height: 0;
    }
    
    @media screen and (max-width: 760px) {
      .toolbar_navigation-items {
        display: none;
      }
      .toolbar_logo {
        margin-left: 4rem;
      }
      
      .toolbar_logo a img{
            width: 150px;
            margin-left: 0rem;
      }
        
      .toolbar_navigator{
        margin: 0 0.5em;
      }  
    
      .mobile_toolbar_login {
        display: block;
        margin-left: 2rem;
      }
    
      .loginBtn {
        text-decoration: none;
        background: #000;
        box-shadow: none;
        border: none;
        color: #fff;
        padding: 5px 8px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: "Libre Franklin";
      }
    
      .loginBtn:active {
        color: #fff;
      }
    
      .loginBtn:visited {
        color: #fff;
      }
      .toolbar_navigator button.ant-btn{
          display: none;
      }
    }
    
    @media screen and (min-width: 759px) {
      .toggle-btn {
        display: none;
      }
    
      .toolbar_logo {
        margin-left: 0;
      }
    }
    